<div>
    <h2 id="page-heading">
        <span>Leads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lead" [routerLink]="['/lead/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lead
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="leads?.length === 0">
        <span>No leads found</span>
    </div>
    <div class="table-responsive" *ngIf="leads?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Lead Name</span></th>
            <th><span>Lead Phone</span></th>
            <th><span>Leadid</span></th>
            <th><span>Title</span></th>
            <th><span>Status</span></th>
            <th><span>Active</span></th>
            <th><span>Hotel</span></th>
            <th><span>Rooms</span></th>
            <th><span>Contact</span></th>
            <th><span>Officetel</span></th>
            <th><span>Cell</span></th>
            <th><span>Street 1</span></th>
            <th><span>Street 2</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Postalcode</span></th>
            <th><span>Country</span></th>
            <th><span>Website</span></th>
            <th><span>Email</span></th>
            <th><span>Followup</span></th>
            <th><span>Comment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lead of leads ;trackBy: trackId">
                <td><a [routerLink]="['/lead', lead.id, 'view' ]">{{lead.id}}</a></td>
                <td>{{lead.leadName}}</td>
                <td>{{lead.leadPhone}}</td>
                <td>{{lead.leadid}}</td>
                <td>{{lead.title}}</td>
                <td>{{lead.status}}</td>
                <td>{{lead.active}}</td>
                <td>{{lead.hotel}}</td>
                <td>{{lead.rooms}}</td>
                <td>{{lead.contact}}</td>
                <td>{{lead.officetel}}</td>
                <td>{{lead.cell}}</td>
                <td>{{lead.street1}}</td>
                <td>{{lead.street2}}</td>
                <td>{{lead.city}}</td>
                <td>{{lead.state}}</td>
                <td>{{lead.postalcode}}</td>
                <td>{{lead.country}}</td>
                <td>{{lead.website}}</td>
                <td>{{lead.email}}</td>
                <td>{{lead.followup}}</td>
                <td>{{lead.comment}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lead', lead.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lead', lead.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lead', { outlets: { popup: lead.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
